# - Projeto 2 - Ciência dos Dados - 2020.2 -

### Previsão da demanda em lojas Walmart estadunidenses a fim de evitar o desperdício, maximizando o lucro nesses estabelecimentos

#### Equipe: Andressa Silva de Oliveira; Camila Buzin Ladeira; Luiz Ricardo Hardman; Matheus Kwon

In [1]:
# Imports:
import os
import pandas as pd
import statsmodels.api as sm

In [2]:
# Código para reconhecimento do dataset:
filename = 'Walmart_Store_sales.xlsx'

if filename in os.listdir():
    print(f'Encontrei o arquivo {filename}, tudo certo!')
else:
    print(f'Não encontrei o arquivo {filename} no diretório {os.getcwd()}')

Encontrei o arquivo Walmart_Store_sales.xlsx, tudo certo!

In [3]:
# Código para leitura do dataset:
data = pd.read_excel(filename)
data.head(5)

  Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
0  1,05-02-2010,1643690.9,0,42.31,2.572,211.09635...
1  1,12-02-2010,1641957.44,1,38.51,2.548,211.2421...
2  1,19-02-2010,1611968.17,0,39.93,2.514,211.2891...
3  1,26-02-2010,1409727.59,0,46.63,2.561,211.3196...
4  1,05-03-2010,1554806.68,0,46.5,2.625,211.35014...

In [4]:
#  Limpeza e manipulações necessárias:

# separar as colunas
linhas = data['Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment']

In [5]:
dicio = {'store':[], 'date':[], 'weeklysales':[], 'holiday':[], 'temperature':[], 'fuel':[], 'cpi':[], 'unemployment':[]}

for linha in linhas:
    results = linha.split(',')
    i = 0
    for key in dicio.keys():
        variable = results[i]
        if key != 'date' and key != 'holiday':
            variable = float(results[i])
        dicio[key].append(variable)
        i += 1

In [6]:
df = pd.DataFrame()
for key, lista in dicio.items():
    df[key] = pd.Series(lista)

In [7]:
df.holiday = df.holiday.astype('category')
df.holiday.cat.categories = ['no', 'yes']
df

,store,date,weeklysales,holiday,temperature,fuel,cpi,unemployment
0,1.0,05-02-2010,1643690.90,no,42.31,2.572,211.096358,8.106
1,1.0,12-02-2010,1641957.44,yes,38.51,2.548,211.242170,8.106
2,1.0,19-02-2010,1611968.17,no,39.93,2.514,211.289143,8.106
3,1.0,26-02-2010,1409727.59,no,46.63,2.561,211.319643,8.106
4,1.0,05-03-2010,1554806.68,no,46.50,2.625,211.350143,8.106
...,...,...,...,...,...,...,...,...
6430,45.0,28-09-2012,713173.95,no,64.88,3.997,192.013558,8.684
6431,45.0,05-10-2012,733455.07,no,64.89,3.985,192.170412,8.667
6432,45.0,12-10-2012,734464.36,no,54.47,4.000,192.327265,8.667
6433,45.0,19-10-2012,718125.53,no,56.47,3.969,192.330854,8.667
6434,45.0,26-10-2012,760281.43,no,58.85,3.882,192.308899,8.667