# - Projeto 2 - Ciência dos Dados - 2020.2 -

### Previsão da demanda em lojas Walmart estadunidenses a fim de evitar o desperdício, maximizando o lucro nesses estabelecimentos

#### Equipe: Andressa Silva de Oliveira; Camila Buzin Ladeira; Luiz Ricardo Hardman; Matheus Kwon

In [1]:
# Bibliotecas importadas:
import os
import pandas as pd
import statsmodels.api as sm

In [2]:
# Código para reconhecimento do dataset:
filename = 'Walmart_Store_sales.xlsx'

if filename in os.listdir():
    print(f'Encontrei o arquivo {filename}, tudo certo!')
else:
    print(f'Não encontrei o arquivo {filename} no diretório {os.getcwd()}')

Encontrei o arquivo Walmart_Store_sales.xlsx, tudo certo!

In [3]:
# Código para leitura do dataset:
data = pd.read_excel(filename)
data.head(5)

  Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
0  1,05-02-2010,1643690.9,0,42.31,2.572,211.09635...
1  1,12-02-2010,1641957.44,1,38.51,2.548,211.2421...
2  1,19-02-2010,1611968.17,0,39.93,2.514,211.2891...
3  1,26-02-2010,1409727.59,0,46.63,2.561,211.3196...
4  1,05-03-2010,1554806.68,0,46.5,2.625,211.35014...

In [4]:
# Manipulação do dataset para fins do projeto

linhas = data['Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment']

dicio = {'store':[], 'date':[], 'weeklysales':[], 'holiday':[], 'temperature':[], 'fuel':[], 'cpi':[], 'unemployment':[]}

# separar as colunas no dicionário, em forma de listas
for linha in linhas:
    results = linha.split(',')
    i = 0
    for key in dicio.keys():
        variable = results[i]
        if key != 'date' and key != 'holiday' and key != 'store':
            variable = float(results[i])
        dicio[key].append(variable)
        i += 1

In [5]:
# transformando o dicionário em dataframe
df = pd.DataFrame()
for key, lista in dicio.items():
    df[key] = pd.Series(lista)

In [6]:
# Transformando as variáveis de acordo com o seu tipo

df.holiday = df.holiday.astype('category') # verifica se a data é feriado ou não
df.holiday.cat.categories = ['no', 'yes']
df.store = df.store.astype('category') # número da loja, variável qualitativa ordinal
df.date = pd.to_datetime(df.date) # variável de data
df.unemployment = (df.unemployment)/100 # taxa de desemprego, em porcentagem
df

,store,date,weeklysales,holiday,temperature,fuel,cpi,unemployment
0,1,2010-05-02,1643690.90,no,42.31,2.572,211.096358,0.08106
1,1,2010-12-02,1641957.44,yes,38.51,2.548,211.242170,0.08106
2,1,2010-02-19,1611968.17,no,39.93,2.514,211.289143,0.08106
3,1,2010-02-26,1409727.59,no,46.63,2.561,211.319643,0.08106
4,1,2010-05-03,1554806.68,no,46.50,2.625,211.350143,0.08106
...,...,...,...,...,...,...,...,...
6430,45,2012-09-28,713173.95,no,64.88,3.997,192.013558,0.08684
6431,45,2012-05-10,733455.07,no,64.89,3.985,192.170412,0.08667
6432,45,2012-12-10,734464.36,no,54.47,4.000,192.327265,0.08667
6433,45,2012-10-19,718125.53,no,56.47,3.969,192.330854,0.08667
6434,45,2012-10-26,760281.43,no,58.85,3.882,192.308899,0.08667