# - Projeto 2 - Ciência dos Dados - 2020.2 -

### Previsão da demanda em lojas Walmart estadunidenses a fim de evitar o desperdício, maximizando o lucro nesses estabelecimentos

#### Equipe: Andressa Silva de Oliveira; Camila Buzin Ladeira; Luiz Ricardo Hardman; Matheus Kwon

In [6]:
# Imports:
import os
import pandas as pd

In [11]:
# Código para reconhecimento do dataset:
filename = 'Walmart_Store_sales.xlsx'

if filename in os.listdir():
    print(f'Encontrei o arquivo {filename}, tudo certo!')
else:
    print(f'Não encontrei o arquivo {filename} no diretório {os.getcwd()}')

Encontrei o arquivo Walmart_Store_sales.xlsx, tudo certo!

In [12]:
# Código para leitura do dataset:
data = pd.read_excel(filename)
data.head(5)

  Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
0  1,05-02-2010,1643690.9,0,42.31,2.572,211.09635...
1  1,12-02-2010,1641957.44,1,38.51,2.548,211.2421...
2  1,19-02-2010,1611968.17,0,39.93,2.514,211.2891...
3  1,26-02-2010,1409727.59,0,46.63,2.561,211.3196...
4  1,05-03-2010,1554806.68,0,46.5,2.625,211.35014...

In [3]:
#  Limpeza e manipulações necessárias:

# separar as colunas
linhas = data[Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment]
for linha in linhas: